@import "tailwindcss";

/* Couleurs simples */
:root {
  --rouge: #e63946;
  --orange: #f4a261;
  --noir: #0a0a0a;
  --gris: #1a1a1a;
  --blanc: #fafafa;
}

/* Police */
body {
  font-family: 'Space Grotesk', sans-serif;
}
