---
// Page infos pratiques
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Infos pratiques - Jumelages">

    <Header currentPage="infos" />

    <main class="pt-24 px-4 min-h-screen">
        <h1 class="text-5xl font-bold text-center text-[#ffee00] mb-6">Infos pratiques</h1>
        
        <div class="max-w-4xl mx-auto">
            
            <!-- Infos en grille -->
            <div class="grid grid-cols-1 md:grid-cols-1 gap-6 mb-12">
                
                <!-- Dates -->
                <div class="p-6">
                    <h3 class="text-xl font-bold text-primary mb-4">TICKET</h3>
                    <p class="text-gray-600">Gratuit</p>
                </div>
                
                <!-- Lieu -->
                <div class=" p-6">
                    <h3 class="text-xl font-bold text-primary mb-4">HEBERGEMENT</h3>
                    <p class="text-gray-600">Les festivaliers ont accès à une zone dédiée du parc près-la-rose pour installer des tentes pour le weekend</p>
                </div>
                
                <!-- Tarifs -->
                <div class=" p-6">
                    <h3 class="text-xl font-bold text-primary mb-4">TRANSPORT</h3>
                    <p class="text-gray-600">Le festival est accessible via la gare, en bus, en voiture, à vélo ou même à pied. Il exite deux parkings aux abords du parc.</p>
                </div>
                
                
                
            </div>
            
            <!-- FAQ -->
            <div class="mb-12">
                <h2 class="text-3xl font-bold text-primary text-center">FAQ</h2>
                
                <div class=" p-4 mb-4">
                    <h3 class="font-bold mb-2">Quels sont les horaires d’ouverture du festival ?</h3>
                    <p class="text-gray-600">Les horaires d'ouverture sont de 18h à 00h le samedi. Et fini à 23h le dimanche.</p>
                </div>
                
                <div class=" p-4 mb-4">
                    <h3 class="font-bold mb-2">Y a-t-il des parkings ? Sont-ils payants ?</h3>
                    <p class="text-gray-600">Il y a deux parkings à disposition, payants.</p>
                </div>
                
                <div class=" p-4 mb-4">
                    <h3 class="font-bold mb-2">Quels objets sont interdits ?</h3>
                    <p class="text-gray-600">Toutes substances illicites sont interdites.</p>
                </div>

            </div>
        </div>
    </main>

    <Footer />

</Layout>
