---
// Composant Header - Navigation du site
const { currentPage } = Astro.props;
---

<header class="bg-[#094d91] p-4 fixed w-full top-0 z-10">
    <nav class="flex justify-between items-center max-w-6xl mx-auto">
        <a href="/" class="text-2xl font-bold text-[#000000]">Jumelages</a>
        <ul class="flex gap-6">
            <li>
                <a 
                    href="/infos" 
                    class={currentPage === 'infos' ? 'text-[#000000]' : 'hover:text-[#000000]'}
                >
                    Infos pratiques
                </a>
            </li>
            <li>
                <a 
                    href="/invites" 
                    class={currentPage === 'invites' ? 'text-[#000000]' : 'hover:text-[#e63946]'}
                >
                    Invités
                </a>
            </li>
            <li>
                <a 
                    href="/programme" 
                    class={currentPage === 'programme' ? 'text-[#000000]' : 'hover:text-[#e63946]'}
                >
                    Programme
                </a>
            </li>
        </ul>
    </nav>
</header>
