---
import { Image } from 'astro:assets';
import HeroImg from '../assets/images/acceuil-header.avif'
---

<section class="relative w-full pt-16 flex items-center ">
    <Image 
        src={HeroImg}
        alt="Jumelages Festival Hero"
        class="w-full h-auto"
    />
</section>

